name: build-pipeline
on: [push]
jobs:
    build:
        runs-on: self-hosted
        steps:
            - name: checkout code
              uses: actions/checkout@v3
            - name: add msbuild to path
              uses: microsoft/setup-msbuild@v1.3.1
            - name: Build now
              run: |
                msbuild -p:Configuration=Release
            # Publish artifact
            - uses: actions/upload-artifact@v3.1.2
              with:
                  name: MSSQLCICDTEST
                  path: ${{ github.workspace }}\MSSQLCICD\bin\Release\
    deploytestenv:
        name: deploy on test enviorment
        needs: [build]
        environment: testenv
        runs-on: self-hosted
        steps:
            - name: download artifact
              uses: actions/download-artifact@v3.0.2
              with:
                name: MSSQLCICDTEST
            - name: Deploy dacpac
              uses: azure/sql-action@v2.2
              with:
                 connection-string:  "Server=localhost\sqlexpress;Database=AdventureWorksTestEnv;User ID=cicdsqluser;Password=abc123;"
                  # Path to the dacpac file in the artifact
                 path: './MSSQLCICD.dacpac'
                  # Action we want it to do, in this case 'Publish' the contents of the dacpac to the database
                 action: 'publish'
