name: build-pipeline
on:
    pull_request:
        branches:
            - dev
jobs:
    codelint:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v2
      
        - name: Lint code
          uses: github/super-linter@v5
          env:
           DEFAULT_BRANCH: dev
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
    build:
        runs-on: self-hosted
        steps:
            - name: checkout code
              uses: actions/checkout@v3
            - name: add msbuild to path
              uses: microsoft/setup-msbuild@v1.3.1
            - name: Build now
              run: |
                msbuild -p:Configuration=Release
            # Publish artifact
            - uses: actions/upload-artifact@v3.1.2
              with:
                  name: MSSQLCICDTEST
                  path: ${{ github.workspace }}\MSSQLCICD\bin\Release\
    deploytestenv:
        name: deploy on test enviorment
        needs: [build]
        environment: testenv
        runs-on: self-hosted
        steps:
            - name: download artifact
              uses: actions/download-artifact@v3.0.2
              with:
                name: MSSQLCICDTEST
            - name : publish package to test database on local server
              run: |
                sqlpackage.exe /a:Publish /sf:"MSSQLCICD.dacpac" /tcs:"Server=localhost;Database=testdb;Trusted_Connection=True;TrustServerCertificate=True;"
            
